<!-- Include Swiper CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">

<!-- Include Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<div class="relative bg-[#1C685A] text-white py-2 overflow-hidden">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide text-center text-sm">
          {{ block.settings.slide_Text }}
          {% if block.settings.show_button_block %}
            <a href="{{  block.settings.button_link_block }}" class="font-bold underline">
              {{ block.settings.btn_text_block }}
            </a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  const swiper = new Swiper('.swiper-container', {
    direction: 'horizontal',
    loop: true,
    speed: 500,
    effect: 'fade',
    fadeEffect: {
      crossFade: true,
    },
    speedBetween: 200,
    autoplay: {
      delay: 2000,
      disableOnInteraction: false,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>
{% schema %}
{
  "name": "Announcement Bar",
  "settings": [],
  "blocks": [
    {
      "type": "announcement_slide",
      "name": "Announcement Slide",
      "settings": [
        {
          "type": "text",
          "id": "slide_Text",
          "label": "Slide text ",
          "default": "Free Shipping on orders over $100!"
        },
        {
          "type": "url",
          "id": "button_link_block",
          "label": "Blocks  Slide Button Link",
          "default": "/collections/all"
        },

        {
          "type": "checkbox",
          "id": "show_button_block",
          "label": "Show Blocks Slide  Button?",
          "default": true
        },
        {
          "type": "text",
          "id": "btn_text_block",
          "label": "Third Slide Button Text",
          "default": "Shop Now"
        }
      ]
    }
  ],
  "max_blocks": 5,
  "presets": [
    {
      "name": "Default",
      "category": "Header",
      "blocks": [
        {
          "type": "announcement_slide"
        },
        {
          "type": "announcement_slide"
        },
        {
          "type": "announcement_slide"
        }
      ]
    }
  ]
}
{% endschema %}
